### TPot Notebook ###

In [1]:
# importing useful packages
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from tpot import TPOTClassifier
from tpot import TPOTRegressor

## importing the data
data = pd.read_csv('../Pipelines/MinMax1_Final.csv', index_col=0, header=0)
data.head()

/opt/tljh/user/lib/python3.6/site-packages/deap/tools/_hypervolume/pyhv.py:33: ImportWarning: Falling back to the python version of hypervolume module. Expect this to be very slow.
  "module. Expect this to be very slow.", ImportWarning)
/opt/tljh/user/lib/python3.6/importlib/_bootstrap.py:219: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__
  return f(*args, **kwds)
/opt/tljh/user/lib/python3.6/importlib/_bootstrap_external.py:426: ImportWarning: Not importing directory /opt/tljh/user/lib/python3.6/site-packages/mpl_toolkits: missing __init__
  _warnings.warn(msg.format(portions[0]), ImportWarning)

,X1,X2,X12,X13,X14,X15,X16,X17,X18,X19,...,X3_Bin,X4_Bin,X5_Bin,X6,X7,X8,X9,X10,X11,Y
1,0.215686,1.0,0.466150,0.682122,0.675858,0.701892,0.706026,0.697028,0.000000,0.446302,...,2,1,1,2,2,-1,-1,0,0,1
2,0.156863,1.0,0.630650,0.719191,0.712060,0.737827,0.745501,0.741466,0.516562,0.510888,...,2,2,1,-1,2,0,0,0,2,1
3,0.078431,1.0,0.705246,0.806112,0.810737,0.778772,0.788583,0.786343,0.566293,0.564080,...,2,2,2,0,0,0,0,0,0,0
4,0.078431,0.0,0.512625,0.694443,0.776490,0.757732,0.758926,0.753463,0.566293,0.763165,...,2,1,2,0,0,0,0,0,0,0
5,0.078431,0.0,0.765626,0.825749,0.830536,0.753170,0.760409,0.756395,0.610021,0.544403,...,2,1,3,-1,0,-1,0,0,0,0

In [7]:
data = data.astype(int)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29999 entries, 1 to 29999
Data columns (total 24 columns):
X1        29999 non-null int64
X2        29999 non-null int64
X12       29999 non-null int64
X13       29999 non-null int64
X14       29999 non-null int64
X15       29999 non-null int64
X16       29999 non-null int64
X17       29999 non-null int64
X18       29999 non-null int64
X19       29999 non-null int64
X20       29999 non-null int64
X21       29999 non-null int64
X22       29999 non-null int64
X23       29999 non-null int64
X3_Bin    29999 non-null int64
X4_Bin    29999 non-null int64
X5_Bin    29999 non-null int64
X6        29999 non-null int64
X7        29999 non-null int64
X8        29999 non-null int64
X9        29999 non-null int64
X10       29999 non-null int64
X11       29999 non-null int64
Y         29999 non-null int64
dtypes: int64(24)
memory usage: 5.7 MB

In [9]:
# shuffling data
data_shuffle = data.iloc[np.random.permutation(len(data))]
data_reset = data_shuffle.reset_index(drop=True)
data_reset.head()

,X1,X2,X12,X13,X14,X15,X16,X17,X18,X19,...,X3_Bin,X4_Bin,X5_Bin,X6,X7,X8,X9,X10,X11,Y
0,0,1,0,0,0,0,0,0,0,0,...,2,2,1,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,2,1,2,2,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,1,2,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,2,1,-1,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,2,2,1,0,0,0,2,2,0,1

In [13]:
# taking our target feature `Y`
data_Y = data_reset['Y'].values

In [17]:
# splitting data
training_indicies, testing_indicies = train_test_split(data_reset.index, stratify = data_Y, train_size=0.75, test_size=0.25, random_state=2019)
training_indicies.size, testing_indicies.size

(22499, 7500)

In [20]:
# Using TPot now
tpot_good = TPOTClassifier(verbosity=2, max_time_mins=2, max_eval_time_mins=0.04, population_size=20, generations=5, scoring='roc_auc')
tpot_good.fit(data_reset.drop('Y', axis=1).loc[training_indicies].values, data_reset.loc[training_indicies,'Y'].values)

/opt/tljh/user/lib/python3.6/importlib/_bootstrap.py:219: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__
  return f(*args, **kwds)

HBox(children=(IntProgress(value=0, description='Optimization Progress', max=20, style=ProgressStyle(descripti…

Generation 1 - Current best internal CV score: 0.7384925722915175
Generation 2 - Current best internal CV score: 0.7384925722915175

2.01210785 minutes have elapsed. TPOT will close down.
TPOT closed prematurely. Will use the current best pipeline.

Best pipeline: GaussianNB(input_matrix)

TPOTClassifier(config_dict=None, crossover_rate=0.1, cv=5,
        disable_update_check=False, early_stop=None, generations=1000000,
        max_eval_time_mins=0.04, max_time_mins=2, memory=None,
        mutation_rate=0.9, n_jobs=1, offspring_size=None,
        periodic_checkpoint_folder=None, population_size=20,
        random_state=None, scoring='roc_auc', subsample=1.0,
        use_dask=False, verbosity=2, warm_start=False)

In [21]:
tpot_good.export('tpot_good_model.py')

True