In [8]:
# importing useful stuffzzz
import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn.metrics import mean_squared_error

# importing data
data = pd.read_csv('../Pipelines/MinMax1_Final', index_col=0, header=0)
data.head()

,X1,X2,X12,X13,X14,X15,X16,X17,X18,X19,...,X3_Bin,X4_Bin,X5_Bin,X6,X7,X8,X9,X10,X11,Y
1,0.215686,1.0,0.775369,0.880280,0.877577,0.888703,0.890444,0.886646,0.000000,0.764204,...,2,1,1,2,2,-1,-1,0,0,1
2,0.156863,1.0,0.857557,0.895945,0.892974,0.903618,0.906740,0.905101,0.802369,0.799420,...,2,2,1,-1,2,0,0,0,2,1
3,0.078431,1.0,0.890116,0.930676,0.932452,0.920033,0.923881,0.923005,0.827333,0.826254,...,2,2,2,0,0,0,0,0,0,0
4,0.078431,0.0,0.800325,0.885548,0.919134,0.911672,0.912151,0.909957,0.827333,0.913846,...,2,1,2,0,0,0,0,0,0,0
5,0.078431,0.0,0.914827,0.938173,0.939982,0.909838,0.912744,0.911135,0.848102,0.816533,...,2,1,3,-1,0,-1,0,0,0,0